@page "/galleries/"
<h3>Galleries</h3>

<div class="row">
    <div class="m-2 d-flex justify-content-end">
        <button @onclick="Add" class="btn btn-success">Add Gallery</button>
    </div>
</div>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">@Message</div>
}

<div class="d-flex row-cols-1">
@if(Model == null)
{
    <p>Loading Data...</p>
}
else if(Model.Count == 0)
{
    <p>No data to DISPLAY</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.DateUpdated</td>
                    <td>@item.GalleryType.Name</td>
                    <td>@item.Categories.Count</td>
                    <td>
                        <button @onclick=@(() => Details(item.Id)) class="btn btn-info">Details</button>
                        <AuthorizeView Roles="System_Admin">
                            <button @onclick=@(() => Edit(item.Id)) class="btn btn-warning">Edit</button>
                            <button @onclick=@(() => Delete(item.Id)) class="btn btn-danger">Delete</button>
                        </AuthorizeView>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</div>